<h1><%= @post.text %></h1>

<%= turbo_stream_from @post %>
<div id="comments">
  <%= render @post.comments  %>
</div>

<%= link_to "Create Comment", new_user_post_comment_path(@user, @post) %>
<%= link_to 'Back', user_posts_path(@user) %>
